<div class="navbar">
	<div class="navbar-header">
		<a class="navbar-brand"><i class="material-icons">info outline</i></a>
	</div>
</div>
<div class="row pad-me"></div>
<div class="row">
	<div class="col-sm-12 text-center">
		<h1><Strong>NTC Consulting, LLC.</Strong></h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 text-center">
		<h5><em>"Consulting agents dedicated to small town growth"</em></h5>
	</div>
</div>
<div class="row pad-me"></div>
<div class="row">
	<div class="col-sm-12 text-center">
		<div class="btn-outline">enter</div>
	</div>
</div>
