<div class="navbar" style="margin-top: 1%">
  <div class="container-fluid">
	  <div class="navbar-header">
		  <p class="hidden-xs clickable" style="font-weight: 300;font-size: 2rem;">NTC Consulting, LLC.</p>
	  </div>
	  <ul class="nav navbar-nav navbar-right">
		  <li><i class="material-icons splash-icon clickable">info outline</i></li>
	  </ul>
  </div>
</div>
<div class="row pad-me"></div>
<div class="row">
	<div class="col-sm-12 text-center">
		<h1 class="splash-h" style="font-weight: 400;font-size:5rem;">Learn how to start growing your business today</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 text-center">
		<h5 class="splash-h" style="font-size: 2.5rem"><em>with an agency dedicated to small town commerce.</em></h5>
	</div>
</div>
<div class="row" id="info" style="display: none">
	<div class="col-sm-12 text-center">
	<div class="alert alert-done">
		<p class="splash-p">email: <Strong>ntcllc78624@gmail.com</Strong></p>
		<p class="splash-p">phone: <Strong>(123)-456-7890</Strong></p>
		<p class="splash-p">location: <Strong>Fredericksburg, TX</Strong></p>
	</div>
	</div>
</div>
<div class="row pad-me" id="padding"></div>
<div class="row">
	<div class="col-sm-12 text-center">
		<div class="btn-big btn">enter</div>
	</div>
</div>

<script>
  $('.btn-big').click(function() {
    window.location.assign('/index');
  })

	$('.splash-icon').click(function() {
		//$('#info').show();
		$('.btn-outline').hide();
		$('#info').animate({
    	left: "+=50",
    	height: "toggle"
  	}, 2000, function() {
			$('#padding').hide();
			$('.btn-outline').show();
  	});
	})

	$('p.hidden-xs.clickable').click(function() {
		window.location.assign('/index#contact');
	})
</script>
