<div class="navbar" style="margin-top: 1%">
  <div class="container-fluid">
	  <div class="navbar-header">
		  <p class="hidden-xs clickable">NTC Consulting, LLC.</p>
	  </div>
	  <ul class="nav navbar-nav navbar-right">
		  <li><i class="material-icons splash-icon clickable">info outline</i></li>
	  </ul>
  </div>
</div>
<div class="row pad-me"></div>
<div class="row">
	<div class="col-sm-12 text-center">
		<h1><Strong>Consulting Agents Dedicated to Small Town Growth</Strong></h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 text-center">
		<h5><em>Learn how to start growing your small town business today.</em></h5>
	</div>
</div>
<div class="row pad-me"></div>
<div class="row">
	<div class="col-sm-12 text-center">
		<div class="btn-outline">enter</div>
	</div>
</div>

<script>
  $('.btn-outline').click(function() {
    window.location.assign('/index');
  })
</script>
