<div class="jumbotron text-center">
  <h1 class="top-header">NTC Consulting, LLC.</h1>
  <h5 class="jumbo-text"><em>Promoting Small Town Business</em></h5>
	<div class="btn-group" role="group" aria-label="">
		<div class="row">
			<button type="button" class="servicesButton btn btn-outline jumbo-btn">Services</button>
			<button type="button" class="aboutButton btn btn-outline jumbo-btn">About</button>	
			<button type="button" class="contactButton btn btn-outline jumbo-btn">Contact</button>
		</div>	
	</div>
</div>

<hr id="services">
<div class="parallax-1"><h1 class="parallax-header"><Strong>Services</Strong></h1></div>
<hr>

<div class="card card-block">
	<div class="row text-center">
		<div class="col-xs-12 col-lg-4">
			<h4>Advertising</h4>
			<i class="material-icons clickable">business</i>
			<p>Management and creation of multimedia advertisements including social media, radio, images, and video.</p>
			<hr class="hidden-lg hidden-md">
		</div>
		<div class="col-xs-12 col-lg-4">
			<h4>Innovation</h4>
			<i class="material-icons clickable">phonelink_setup</i>
			<p>Technological innovation to modernize your revamped marketing platform. Solutions offered include web/mobile applications, LED signs, IT setup/support, and aerial photography.</p>
			<hr class="hidden-lg hidden-md">
		</div>
		<div class="col-xs-12 col-lg-4">
			<h4>Sales</h4>
			<i class="material-icons clickable">call</i>
			<p>Augment your sales force by adding one of our agents to your team, or simply allow us to takeover and do the dirty work for you.</p>
			<hr class="hidden-lg hidden-md">
		</div>
	</div>
</div>

<hr id="about">
<div class="parallax-1"><h1 class="parallax-header"><Strong>About Us</Strong></h1></div>
<hr>

<div class="card card-block">
	<div class="row">
		<div class="col-xs-12">
			<h3>Intents and Purposes</h3>
			<p class="card-text">Our mission at NTC Consulting, LLC. is to provide the necessary means to grow your small town business. Our agency is a multi-talented organization that combines various skill sets such as marketing, sales, and software development to bring you a one-stop shop consulting experience.</p>
			<hr>
			<h3>Our Customers</h3>
			<p>NTC Consulting, LLC. provides consulting services to customers in a wide variety of industries. Our customers range from retail stores, to restaurants and bars, even real estate agencies.</p>
			<hr>
			<h3>Small Town Dedication</h3>
			<p>As a small town oriented business, we know your demographic along with the necessary strategies that will allow your business to thrive in a small town environment. Also, we can proudly say that NTC Consulting, LLC. is the only Texas-based consulting agency that exclusively assists small town businesses.</p>
			<hr>	
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-4 text-center">
				<img>
				<h5>Zach Clark, CEO</h5>
				<p>Zach is a marketing and sales specialist. As CEO and main customer representative, this man has the most face time with customers. So, if you are interested in doing business with NTC then chances are you will get to know him very well.
			</div>
			<div class="col-xs-12 col-sm-4 text-center">
				<img>
				<h5>Daniel Nguyen, CFO</h5>
				<p>Daniel wears many hats within our agency. Essentially, he is our CFO and quantitative analyst/finance wizard. Let's put it this way- without him we would have filed for Chapter 11 by now.</p>
			</div>
			<div class="col-xs-12 col-sm-4 text-center">
				<img>
				<h5>Alex Torres, CTO</h5>
				<p>Alex handles the technical side of the business. He is fluent in engineering jargon as well as 1337 speak, and enforces agile development methodologies within our ongoing software projects.</p>
			</div>
		</div>
	</div>
</div>

<hr id="contact">
<div class="parallax-1"><h1 class="parallax-header"><Strong>Contact</Strong></h1></div>
<hr>

<div class="card card-block">
	<div class="row">
		<div class="col-xs-12 text-center">
			<h2>Inquire Within</h2>
			<p class="card-text">NTC Consulting, LLC. offers a free sit down to discuss project plans and pricing.</p>
			<p><i class="material-icons clickable">settings_phone</i>(830)-456-1609</p>
			<p><i class="material-icons clickable">mail_outline</i>ntcllc78624@gmail.com</p>
			<p><i class="material-icons clickable">markunread_mailbox</i>Fredericksburg, TX 78624</p>
			<p class="card-text">Feel free to reach out to us with any questions. We are available by phone or email at any time of the day/night.</p>
		</div>
	</div>
</div>

<hr id="footer-divider">

<script>
	$('.servicesButton').click(function() {
		window.location.assign("#services");	
	})	

	$('.aboutButton').click(function() {
		window.location.assign("#about");	
	})	
	
	$('.contactButton').click(function() {
		window.location.assign("#contact");	
	})	
</script>
